
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


.lexend{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}











/*----------------------*/

:root{
    --dark-teal: #003147;
    --background: #00111A;
    --body-font: "Lexend";
    --heading-font: "Josefin Sans";
    --topo-color: #315A5E;
    --shadow: 0 .5rem 2rem #000;
    
}

body{
    margin: 0;
    background-color: var(--background);
    width: 100vw;
    margin: 0;
    object-fit: cover;
    background-image: url("../images/topo-bg.png");
    background-size: 100% auto;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    background: var(--dark-teal);
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    box-shadow: .5rem .5rem 2rem #000;
    z-index: 1000;
    overflow-y: visible;
    
}

header button{
    margin: 0;
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-family: var(--body-font);
    background-color: var(--topo-color);
    border: none;
    color: white;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

header button:hover{
  transform: scale(1.1);
    transition: 150ms ease-in-out;
}

header a{
    margin: 0;
}



h1{
    color:white;
    font-family: var(--heading-font), sans-serif;
    font-size: 3rem;
}

h2{
    color: white;
    font-family: var(--heading-font), sans-serif;
    font-size: 2rem;
}

p{
    font-family: var(--body-font), sans-serif;
    font-size: 1rem;
}


main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;

}

section{
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    background: var(--topo-color);
    padding: 3rem;
    padding-top: 1rem;
    border: .3rem var(--background) solid;
    box-shadow: var(--shadow);
    margin-bottom: 25rem;

}

section p{
    width: 60%;
    margin-top: 3rem;
    font-size: 1.75rem;
    color: white;
}


#image-me{
  max-width: 500px;
  margin: auto;
  object-fit: fill;
  box-shadow: var(--shadow);

}

.bio-group{
  display: flex;
  flex-grow: 1;
  gap: 1rem;

}



#art-head{
  text-align: center;
  background-color: var(--background);
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: .3rem;
  border: .3rem var(--topo-color) solid;
}


.articles{
    width: 90%;
    display: flex;
    margin: auto;
    gap: 5%;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    margin-bottom: 25rem;
}

.projects{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: .5rem .5rem 2rem #000;
    transition: 100ms ease-in-out;
    margin-bottom: 2rem;
}

#recipe{
    background-image: url("../images/recipe-tb.png");
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-repeat: no-repeat;
}
#tribute{
    background-image: url("../images/tribute-tb.png");
    object-fit: fill;
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50%;
}
#guide{
    background-image: url("../images/guide-tb.png");
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-position: 60%;
    background-repeat: no-repeat;
}
#landing {
    background-image: url("../images/landing-tb.png");
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50%;
    
}
.projects a{
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
} 
.projects button{
    background: none;
    border: none;
    cursor: pointer;
}









h3{
    background-color: var(--dark-teal);
    color: white;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;     
    text-align: center;
    font-family: var(--heading-font), sans-serif;
    border-radius: 0 0 .5rem .5rem;
    
}

.projects:hover{
    transform: scale(1.1);
    transition: 150ms ease-in-out;
}







footer{
  display: block;
  background-color: var(--dark-teal);
  margin: auto;
  padding: 3rem;
  width: 100%;

}
#foot-con{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: auto;
  gap: 1rem;
}

footer button{
  padding: 1rem;
  font-family: var(--body-font);
  background-color: var(--topo-color);
  border: none;
  color: white;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

footer button:hover{
  transform: scale(1.1);
    transition: 150ms ease-in-out;
}


footer p{
  max-width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.5rem;
}



@media (max-width: 768px) {

    header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    background: var(--dark-teal);
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    box-shadow: .5rem .5rem 2rem #000;
    z-index: 1000;
    
}

header button{
  font-size: .75rem;
    margin: .1rem;
    padding: .75rem;
    margin-left: .25rem;
    margin-right: .25rem;
    font-family: var(--body-font);
    background-color: var(--topo-color);
    border: none;
    color: white;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

header button:hover{
  transform: scale(1.1);
    transition: 150ms ease-in-out;
}

header a{
    margin: 0;
}



h1{
    color:white;
    font-family: var(--heading-font), sans-serif;
    font-size: 1.5rem;
}

h2{
    color: white;
    font-family: var(--heading-font), sans-serif;
    font-size: 1rem;
}

p{
    font-family: var(--body-font), sans-serif;
    font-size: .75rem;
}


main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: hidden;

}

section{
    width: 95%;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    background: var(--topo-color);
    padding: 3rem;
    padding-top: 1rem;
    border: .3rem var(--background) solid;
    box-shadow: var(--shadow);
    margin-bottom: 10rem;

}

section p{
    width: 60%;
    margin-top: 3rem;
    color: white;
    font-size: .75rem;
}


#image-me{
  max-width: 200px;
  margin: auto;
  object-fit: fill;
  box-shadow: var(--shadow);

}

.bio-group{
  display: flex;
  gap: 1rem;
  flex-grow: 1;

}



#art-head{
  text-align: center;
  background-color: var(--background);
  margin: auto;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: .3rem;
  border: .3rem var(--topo-color) solid;
}


.articles{
    width: 90%;
    display: flex;
    margin: auto;
    gap: 5%;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
}

.projects{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: .5rem .5rem 2rem #000;
    transition: 100ms ease-in-out;
    margin-bottom: 2rem;
}

#recipe{
    background-image: url("../images/recipe-tb.png");
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-repeat: no-repeat;
}
#tribute{
    background-image: url("../images/tribute-tb.png");
    object-fit: fill;
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50%;
}
#guide{
    background-image: url("../images/guide-tb.png");
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-position: 60%;
    background-repeat: no-repeat;
}
#landing {
    background-image: url("../images/landing-tb.png");
    border: .5rem var(--dark-teal) solid;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50%;
    
}
.projects a{
    margin: auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
} 
.projects button{
    background: none;
    border: none;
    cursor: pointer;
}









h3{
    background-color: var(--dark-teal);
    color: white;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;     
    text-align: center;
    font-family: var(--heading-font), sans-serif;
    border-radius: 0 0 .5rem .5rem;
    
}

.projects:hover{
    transform: scale(1.1);
    transition: 150ms ease-in-out;
}







footer{
  display: block;
  background-color: var(--dark-teal);
  margin: auto;
  padding: 1.5rem;
  width: 100%;

}
#foot-con{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: auto;
  gap: 1rem;
}

footer button{
  font-size: .75rem;
  padding: 1rem;
  font-family: var(--body-font);
  background-color: var(--topo-color);
  border: none;
  color: white;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

footer button:hover{
  transform: scale(1.1);
    transition: 150ms ease-in-out;
}


footer p{
  max-width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  font-size: 1rem;
}


  
}









