

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #C1C1C1;
  line-height: 1.6;

}

header{
    margin: 20px;
    text-align: center;

}
.container{
    display: flex;
    min-height: calc(100vh-200px);
    justify-content: flex-start;
    gap: 20px;

}


nav{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 20%;
    max-height: 100vh;
    margin-left: 1%;
}
nav li{
  padding-bottom: 30px;
}


nav a:hover {
  background: rgba(255, 255, 255, 0.1);
  margin: auto;
  padding: 10px 20px;
  border-radius: 5px;
}


.content{
    flex: 1;
    padding: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 100%;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

section{
    position: relative;
    margin-bottom: 40px;
    background-color: bisque;
    margin: 10px 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 40px;
    padding-left: 40px;
    border-radius: 5px;
    max-width: 70%;
}
p{
    font-size: 2.6rem;
    padding: 20px;
}
h1{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 5px;
}
h2{
    padding: 10px;
    padding-top:5px;
    font-size: 3rem;
    font-weight: 900;
}
h3{
    font-size: 2rem;
    text-align: center;
}
a {
  text-decoration: none;
  color: black;
 }
 ul {
  padding-inline-start: 30px; 
  color:black;
 }
 li{
    margin: 10px;
    margin-left: 20px;
    font-size: 26px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: "Gudea", sans-serif;
    color:black;
}

pre code{
white-space: pre-wrap;
word-wrap: break-word;
overflow-wrap: break-word;
}
footer{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    max-width: fit-content;
}
footer ul{
  list-style-type: none;
  text-align: center;
}
footer li{
    font-size: 1.6rem;
}
button{
    background-color: bisque;
    position: relative;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}
.button{
    display: block;
    margin: auto;
}