.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
.nova-round-regular {
  font-family: "Nova Round", system-ui;
  font-weight: 400;
  font-style: normal;
}
body header{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
header{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1{
  display: block;
  margin: 20px;
  margin-bottom: 10px;
  font-family: "Quintessential", serif;
  font-size: 56px;
}
h3{
  display: block;
  margin: 10p;
  font-family: "Quintessential", serif;
  font-size: 36px;
}
h2{
  display: block;
  margin: 10px;
  font-family: "Nova Round", sans-serif;
  font-size: 20px;
  text-align: center;
}
.story{
  display: blocks;
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Nova Round", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  max-width: 30%;
}
.questions{
  font-family: "Nova Round", sans-serif;
  font-size: 20px;
  line-height: 1.5;
   display: blocks;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}
#two{
  margin-top: 40px;
  margin-bottom:30px;
  font-size: 28px;
}